@import 'reset.scss';
$main_color: #f75c49;
$sub_color: #f99589;
$hover_color: #cc4836;
$main_fonts_color: #222222;
$sub_fonts_color: #999999;

%button {
    border: 2px solid $main_color;
    background-color: white;
    color: $main_color;
    cursor: pointer;
    &:hover {
        background-color: $main_color;
        color: white;
    }
}
%search-button {
    font-weight: 600;
    font-size: 17px;
    padding: 14px 18px;
}
%flex {
    display: flex;
    justify-content: space-between;
}
%grey-text {
    font-size: 17px;
    color: $sub_fonts_color;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #fcfcfc;
}
.out-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
section {
    position: relative;
    background-color: white;
    &::before {
        display: block;
        width:600px;
        content: ''; 
        position: absolute;
        border-bottom: 1px solid #000; 
        right: 25%;
    }
    .section-title {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        font-weight: 600;
        font-size: 45px;
        color: $main_fonts_color;
    }
}
.header {
    padding: 30px 0;
    background-color: white;
}

.logo {
    display: inline-block;
}
.logo__text a {
    color: white;
     text-shadow: 3px 3px 1px #CE5937;;
    font-size: 50px;
    font-weight: 600;
    &:hover {
        text-shadow: 4px 3px 1px #6A2E1C;
    }
}
.top-header {
    @extend %flex;
}
.searched-filed__input {
    padding: 10px 22px;
    margin-top: 10px;
    border: 2px solid $sub_fonts_color;
    transition: all 0.3s;
    &:focus {
        padding-right: 180px;
    }
}

.searched-filed__button {
    @extend %button;
    padding: 10px 22px;
}

.bottom-header {
    @extend %flex;
    align-items: center;
    margin-top: 58px;

}

.nav-menu__list {
    @extend %flex;
    .nav-menu__item {
        margin-right: 37px;
        & a {
            color: $main_color;
            font-weight: 600;
            font-size: 17px;
            &:hover {
                color: $hover_color;
            }
        }
    }
}
.button-adding-teacher {
    @extend %button;
    @extend %search-button;
}

@media (max-width: 768px) { 

    %flex {
        flex-direction: column;
        align-items: center;
    }
    %button {
        display: block;
        width: 70%;
        margin: 0 auto;
        color: white;
        background-color: $main_color;
        &:hover {
            color: $main_color;
            background-color: white;
        }
    }
    .header {
        max-width: 95%;
    }

    .bottom-header {
        margin-top: 10px;
    }
    .logo__text a {
        color: $main_color;
         text-shadow: 3px 3px 1px #413d3b;;
    }

    .searched-filed__input {
       width: 80%;
       &:focus {
        padding-right: 22px;
       }
    }
    .searched-filed__button {
        margin-top: 20px;
    }
    .nav-menu__list .nav-menu__item { 
        text-align: center;
        margin-right: 0;
        padding: 10px 20px;
        border: 2px solid $main_color;
        width: 70%;
        margin: 5px 0;
        border-radius: 20px;
    }
    .button-adding-teacher {
        margin-top: 10px;
    }
}

//top-teachers section && filter

.filter__input {
    label {
        @extend %grey-text;
    }
    select {
        padding: 10px;
    }
    input {
        margin-top: 12px;
        margin-bottom: 15px;
    }
    border-right: 2px dotted $sub_fonts_color;
    display: inline-block;
    padding: 0 20px;
}

.teachers-net {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.teacher-item {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    .teacher-item__img-container {
        width: 135px;
        height: 135px;
        border-radius: 50%;
        border: 4px solid $sub_color;
        margin: 0;
        overflow: hidden;
        transition: all 0.3s;
        &:hover{
            border-color: $hover_color;
        }
        .teacher-item__img {
            transform: scale(1.1);
            transition: all 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .teacher-item__name {
        font-size: 25px;
        font-weight: 600;
        color: $main_fonts_color;
        line-height: 1.2em;
    }
    .teacher-item__subject {
        @extend %grey-text;
        margin-top: 12px;
    }
    .teacher-item__location {
        font-size: 15px;
        margin-top: 12px;
    }
    .teacher-item__plug {
        font-size: 30px;
        font-weight: 600;
        margin-top: 40%;
        color: $main_color;
        transition: all 0.3s;
        &:hover {
            color: $hover_color;
            transform: scale(1.2);         
        }
    }
}

@media (max-width: 768px) { 
    section {
        &::before {
            width:100%;
            right: 0;
        }
        .section-title {
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 25px;
        }
    }
    .filter {
        display: flex;
        align-items: center;
        flex-direction: column;

        .filter__input {
            border-right: none;
            border-bottom: 2px dotted $sub_fonts_color;
            display: block;
            padding: 10px 20px;
        }
    }
    .teachers-net {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }

}

// statistic
.statistic {
    padding-top: 50px;
}
.statistic-containter__table {
    width: 100%;
    border-collapse: collapse;
    // border: 1px solid grey;
    tr th{
        width: 20%;
        font-size: 20px;
        color: $main_fonts_color;
        padding: 18px 0;
    }
    tr td{
        padding: 9px 0;
        font-size: 17px;
        color: $main_fonts_color;
        text-align: center;
    }
    .statistic-containter__titles {
        border-bottom: 1px solid $main_fonts_color;
        
    }
}
table tr:nth-child(even) {
    background-color: #f9f5f9;
}
.statistic-containter__pagintation-item {
    display: inline-block;
    font-size: 17px;
    margin-right: 23px;
    margin-top: 35px;
}
@media (max-width: 768px) { 
    .statistic-containter__table {

        tr th{
            width: 20%;
            font-size: 18px;

            padding: 18px 0;
        }
        tr td{
            padding: 9px 0;
            font-size: 15px;
        }
    }
    .statistic-containter__pagintation-list {
        display: inline-block;
        margin-left: 30%;
    }
}

.info {
    padding-top: 50px;
}
.info__paragraphs{
    margin-top: 45px;
}
.info__text {
    line-height: 1.1em;
    margin-top: 20px;
}
.footer {
    padding-bottom: 30px;
}


.modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 17% auto;
    max-width: 925px; 
	// padding: 20px;
	border: 1px solid #888;
    .modal-content__line {
        background-color: #464547;
        position: relative;
        h3{
            font-size: 25px;
            color: white;
            font-weight: 600;
            padding: 23px;
        }
    }
    .modal-body {
        padding: 20px;
        .modal-body__img {
            width: 310px;
            height: 310px;
            float: left;
            margin-right: 20px;

        }
        .modal-body__text-info-add {
            margin-top: 20px;
        }
        .modal-body__text-info-map {
            margin-top: 20px;

            border-bottom: 1px dotted blue;
        }
    }
    .modal-body__info {
        &>p {
            margin-top: 20px;
        }

        .modal-body__info-name {
           font-weight: normal;
           font-size: 30px; 
        }
        .modal-body__info-subject {
            font-weight: 600;
            font-size: 22px;
        }
        .modal-body__info-loaction,.modal-body__info-person, .modal-body__info-phone{
            font-weight: 500;
            font-size: 17px;

        }


        .modal-body__info-person {
            margin-bottom: 20px;
        }
    }
  }

  /* The Close Button */
  .clear {
      clear: both;
  }
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
    position: absolute;
    top: 22px;
    right: 12px;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  #Teacher-info-cart {
      display: none;
  }
  #Form-cart {
      display: none;
  }
  #Form-cart .modal-content {
      max-width: 585px;;
  }
  .adding-teacher-form {
      padding: 35px;
     .adding-teacher-form__container {
         @extend %flex;
     }
      input, textarea,select {
        border: 2px solid $sub_fonts_color;
        padding: 10px 22px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 25px;
      }
      label {
          @extend %grey-text;
        //   display: block;
        margin-top: 25px;
        margin-bottom: 10px;
      }
      .item-form__full {
          width: 100%;
      }
      .item-form__part {
          width: 100%;
      }
      #submit {
          width: 100%;
      }
      .adding-teacher-form__right-column {
          margin-left: 20%;
      }
      label[for="Male"],label[for="Female"] {
        color: black;
      }
      label[for="Male"] {
          margin-left: 20px;
      }
      .adding-teacher-form__radio {
          display: block;
      }
      #date {
          display: block;
      }
      input[type="color"] {
          width: 15%;
          margin-left: 50px;
      }
      label[for="note"] {
          display: block;
      }
      
  }